<div class="dashboard-container">
  <div class="dashboard">
    <div class="upload-section topnav" >
      <input class="active" type="file" (change)="onFileSelected($event)">
      <button class="button-green" id="bt_check_rust" (click)="onSubmit($event)">Check websites with Rust</button>
      <button class="button-blue" [class]="getButtonClass()" id="bt_pdf" (click)="onClickPrint()" [disabled]="!isVerificationComplete">Print to PDF</button>

      <app-help-button></app-help-button>
    </div>

    <div id="filter-buttons">
      <label>
        <input id="up" type="checkbox" value="up" (change)="toggleFilter('up', $event)" checked> UP
      </label>
      <label>
        <input id="down" type="checkbox" value="down" (change)="toggleFilter('down', $event)" checked> DOWN
      </label>
      <label>
        <input id="timeout" type="checkbox" value="timeout" (change)="toggleFilter('timeout', $event)" checked> TIMEOUT
      </label>
    </div>
    <a href="http://localhost:4200/logs-compare"><button class="button-blue">Compare logs (Precheck and Postcheck)</button></a>
    <a href="https://docs.google.com/document/d/19TijgrMJNwuU0hzq4NBGvJzeK7whg42fk0d6NnKUiDk/edit?usp=sharing"><button class="button-blue">How it works ?</button></a>

    <div>
      <p><b style="color: red;">WARNING:</b> If a website is unavailable, you may need to check again. Sometimes they detect that a robot has done the searching, and block it.</p>
    </div>
  </div>
</div>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="bottom-progress-bar"></mat-progress-bar>

<table>
  <tr>
    <th>Websites</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Total:</td>
    <td>{{ nbTotalSites }}</td>
  </tr>
  <tr>
    <td>Up:</td>
    <td>{{ nbUpSites }}</td>
  </tr>
  <tr>
    <td>Down:</td>
    <td>{{ nbDownSites }}</td>
  </tr>
  <tr>
    <td>Timeout:</td>
    <td>{{ nbTimeoutSites }}</td>
  </tr>
  <tr>
    <td>Ratio:</td>
    <td>{{ nbUpSites/nbTotalSites*100 }} %</td>
  </tr>
</table>

<div *ngFor="let website of websites" class="website-container grid-container hideUp" [class.timeout]="website.status === 'TIMEOUT' && timeoutFilter" [class.up]="website.status === 'UP' && upFilter" [class.down]="website.status === 'DOWN' && downFilter" [class.hidden]="!(website.status === 'UP' && upFilter) && !(website.status === 'DOWN' && downFilter) && !(website.status === 'TIMEOUT' && timeoutFilter)">
  <div class="website-screenshot">
    <ng-container *ngIf="website.status === 'UP'">
      <img src="http://localhost:8000/screenshot/{{ date }}/{{website.screenshot}}" alt="Screenshot" height="600" width="800">
    </ng-container>
  </div>


  <div class="grid-container-4">
    <div class="website-info grid-container-vertical">
      <p><strong>URL:</strong>  <a target="_blank" href="{{ website.urls }}">{{ website.urls }}</a></p>
    </div>
    <div class="container">
      <p class="centered-text"><strong>Status:</strong> {{ website.status }}</p>
    </div>
  </div>

</div>

